.mainArea{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 710px;
  background-color: blueviolet;
}

.pending{
  color: gray;
}

.correct{
  color: green;
  font-size: 18px;
}


.danger{
  color: red;
  font-weight: 600;
}
