<!-- <label for="kredi">Kredi Tutarı : </label>
<input type="text" id="kredi" [(ngModel)]="krediTutari">
<br>
<br>
<label for="vade">Vade : </label>
<input type="text" id="vade" [(ngModel)]="vade">
<br>
<br>
<button (click)="hesapla()">Hesapla</button>
<hr>
<br>
<label for="aylik">Aylık Ödemeniz : </label>
<input type="text" id="aylik" [(ngModel)]="aylikOdeme">
<br>
<br>
<label for="faiz">Aylık Faiz Tutarı : </label>
<input type="text" id="faiz" [(ngModel)]="aylikFaizTutari">
<br>
<br>
<label for="geriOdeme">Toplam Geri Ödemeniz : </label>
<input type="text" id="geriOdeme" [(ngModel)]="toplamGeriOdeme"> -->
<h1>Ana Sayfa</h1>
<a href="">Home</a> || <a href="products">Products</a> || <a href="categories">Categories</a>
<router-outlet></router-outlet>

